h1 {
    text-align: center;
}

.active {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 4px;
}

@media (max-width: 767px) {

    .tipo,
    .valor {
        width: 50% !important;
    }

    .descricao {
        width: 90% !important;
        order: 3;
    }

    .botao {
        width: 10% !important;
        order: 3;
    }

    #fileLoad {
        width: 54% !important;
    }
}

@media (min-width: 725px) {
    #menu {
        width: 70% !important;
        border: 2px solid #6c757d60;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }

    .mb-3 {
        padding: 10px;
    }

    #fileLoad {
        width: 350px !important;
    }
}

@media (min-width: 1080px) {
    #fileLoad {
        width: 56% !important;
    }
}

@media (min-width: 1258px) {
    #menu {
        width: 880px !important;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        border-radius: 6px;
        padding: 8px;
        z-index: 1;
        text-align: center;
    }
}